<div class="widget newsletter-widget">
  <div class="widget-title">
    <h3 class="h5 title-border">Newsletter</h3>
  </div>
  <p class="mb-3 small text-light-900">Join thousands of Tiny Salt subscribers and get our best recipes delivered each week! </p>
  {{ with site.Params.subscription }}
  <form class= iframe src="https://licci.substack.com" width="400" height="320" style="border:1px solid #EEE; background:white;" frameborder="0" scrolling="no">
      </div>
    </div>
  </form>
  {{ end }}
  <p class="text-light-900 small content">By Singing Up, You Agree To <a href="{{`privacy-policy`| relLangURL}}/" class="text-light-900"><strong>Privacy Policy</strong></a></p>
</div>